.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-main {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    max-width: 400px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 100%;
  }
  
  button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #008cba;
    color: white;
  }
  
  button[type="button"] {
    background-color: #ddd;
    color: black;
  }