#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilo para los botones de la tabla */
button.editar,
button.eliminar {
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
}

/* Estilo para el botón "Editar" */
button.editar {
  background-color: #007bff;
}

/* Estilo para el botón "Eliminar" */
button.eliminar {
  background-color: #dc3545;
}

/* Estilo para los botones en pantallas pequeñas */
@media (max-width: 768px) {
  button.editar,
  button.eliminar {
    margin-right: 0;
    margin-bottom: 5px;
    width: 100%;
  }
}


/* .jtable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.jtable th,
.jtable td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

.jtable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #555;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #ccc;
}

.pagination button.active {
  background-color: #ccc;
  color: #fff;
} */


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #230674;
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #850808;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.pagination a:hover {
  background-color: #08ae37;
}

.pagination .active {
  background-color: #b5da0d;
  color: #1ea00d
}